*, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
body{
	background-color: #f4f7f6;
	color: #574949; 
}

/*================
     NAVIGATION
=================*/
.nav-bar{
	position: fixed;
	top: 0;
	width: 100vw;
	background-color: transparent;
	height: 18vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;

}
.logo-cont{
	font-size: 3rem;
	font-family: 'Pacifico', sans-serif;
	letter-spacing: 2px;
	color: rgba(239, 63, 61, 1);
}
.navs{
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}
.navs{
	width: 30vw; 
	justify-content: space-evenly;
}
.navs li{
	font-weight: bold;
	cursor: pointer;
	transition: transform .5s ease-in;
}
.navs li:hover{
	border-bottom: 3px solid rgba(239, 63, 61, 1);
}
.nav-links{  
	width: 0;
	opacity: 0;
	cursor: none;
	transition: transform .5s ease-in;
}
.burger{
	cursor: pointer;
	display: none;
}
.burger div{
	width: 35px;
	height: 5px;
	margin: 5px;
	background-color: black;
	transition: transform .5s ease-in;
}
/*------------navigation ends------------*/




.presentation{ 
	height: 100vh;
	background: url('files/intro-bg3.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
}
.presentation h1{ 
	font-size: 5rem;
	position: relative;
	font-weight: 500;
	color: #A67878;
	text-align: center;
	z-index: 2;
}
.presentation h3{
	position: relative;
	margin: 3vh;
	text-align: center;
	z-index: 2;
}
.cta-quote{
	margin: 3rem;
	padding: 1.2rem;
	font-size: 1.2rem;
	background: transparent;
	position: relative;
	z-index: 2;
	cursor: pointer;
	border: 2px solid rgba(239, 63, 61, 1);
	color: rgba(239, 63, 61, 1);
}
.cta-quote:hover{
	background-color: rgba(239, 63, 61, 1);
	color: white;
}
.presentation::after{ 
	z-index: 1;
	content: " ";
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(230, 191, 181,.8);
	position: absolute; 

}

/*================
     Component
=================*/
.curve-top{
	position: absolute;
	width: 100%;
	height: 15vh;
	top: 0;
	z-index: 2;
	background:rgba(0, 0, 0, 0) linear-gradient(to right bottom, 
		rgba(244, 247, 246,1) 50%,
	 transparent 50%, transparent) repeat scroll 0 0;
}
.curve-bottom{
	position: absolute;
	width: 100%;
	height: 15vh;
	bottom: 0;
	z-index: 2;
	background:rgba(0, 0, 0, 0) linear-gradient(to left top, 
		rgba(244, 247, 246,1) 50%,
	 transparent 50%, transparent) repeat scroll 0 0;
}



/*================
     Responsive
=================*/
@media screen and (max-width: 1000px){
	.logo-cont{
		font-size: 2rem;
	}
	.presentation h1{
		font-size: 3rem;
	}
}
@media screen and (max-width: 768px){
	.nav-bar{
		justify-content: space-around;
	}
	.logo-cont{
		font-size: 2rem;
	}
	.presentation h1{
		font-size: 2.5rem;
	}
	.burger{
		display: block;
	}
	.left-navs, .right-navs{
		display: none;
	}
	.nav-links{ 
		opacity: 1;
		cursor: pointer;
		width: 50vw;
		flex-direction: column;
		position: absolute;
		height: 82vh;
		top: 18vh;
		right: 0;
		background-color: #f4f7f6;
		justify-content: space-around;
		align-items: center;
		transform: translateX(50vw);
	}
}

/*================
     TOOGLE
=================*/
.active-burger .line1{
	transform: translateY(10px) rotate(45deg);
}
.active-burger .line2{
	transform: scale(0);
}
.active-burger .line3{
	transform: translateY(-10px) rotate(-45deg);
}
.active-nav{
	transform: translateX(0);
}
.active-nav-bar{
	height: 18vh !important;    /*to override gsap css*/
	background-color: #f4f7f6 !important;
	color: black !important;
}
.active-link{
	border-bottom: 3px solid rgba(239, 63, 61, 1);
}





/*================
     sections
=================*/

.section-one{    
	height: 100vh;  
}
.section-two{   
	height: 100vh;
	position: relative;
	background-color: #E7E4DF; 
	padding: 15vh 0vh; 
}
.section-three{   
	height: 100vh;  
}
.section-four{    
	height: 100vh;
	position: relative;
	background-color: #E7E4DF;  
	padding: 15vh 0vh; 
}
.section-five{   
	height: 100vh; 
}

.main-footer{
	height: 50vh;
	background-color: #8D7B6A;
	bottom: 0;
}
