*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	overflow-x: hidden;
	font-family: sans-serif;
}
.nav-bar{
	position: relative;
	background-color: hotpink;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: white;
}
.logo-cont{
	font-size: 2rem;
	font-family: impact;
	letter-spacing: 2px;
}
.nav-links{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50vw;
	list-style: none;
	transition: transform .5s ease-in;
}
.nav-links li{
	font-weight: bold;
	cursor: pointer;
	transition: transform .5s ease-in;
}
.nav-links li:hover{
	transform: scale(1.2);
}
.burger{
	cursor: pointer;
	display: none;
}
.burger div{
	width: 35px;
	height: 5px;
	margin: 5px;
	background-color: white;
	transition: transform .5s ease-in;
}
@media screen and (max-width: 768px){
	.burger{
		display: block;
	}
	.nav-links{
		flex-direction: column;
		position: absolute;
		height: 90vh;
		top: 10vh;
		right: 0;
		background-color: hotpink;
		justify-content: space-around;
		align-items: center;
		transform: translateX(50vw);
	}
}
.active-burger .line1{
	transform: translateY(10px) rotate(45deg);
}
.active-burger .line2{
	transform: scale(0);
}
.active-burger .line3{
	transform: translateY(-10px) rotate(-45deg);
}
.active-nav{
	transform: translateX(0);
}